@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --blue: #1e90ff;
  --white: #fff;
  --blue1: #307bbe;
  --blue2: #379cf6;
  --black: #333;
  --cream: #e8e8e8;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  overflow-x: hidden;
  height: 1097px;
  margin: 0 40px 65px 0;
  padding: 0 0 794px;
  box-shadow: 0 0 60px 0 var(--black);
  background-color: var(--white);
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.font {
  font-weight: 300;
}

.d-flex {
  display: flex;
}

.center {
  align-items: center;
}

body,
.book-item,
.book-title,
.book-category {
  border-radius: 4px;
}

.App {
  width: 90%;
}

.navbar {
  width: 100%;
  justify-content: space-around;
  letter-spacing: normal;
  color: var(--blue2);
  background: var(--white);
}

.title {
  margin: 6px 47px 2px 0;
  font-size: 30px;
  color: var(--blue2);
}

.navbar-link {
  margin-right: 2rem;
  opacity: 0.5;
  font-size: 13px;
  letter-spacing: 1.9px;
  color: var(--black);
  text-decoration: none;
}

.selected {
  font-weight: bold;
}

.profile {
  width: 7rem;
}

.book-item {
  width: 90%;
  height: 100%;
  margin: 37px 100px;
  padding: 3.2rem 14.7rem 2.6rem 2.7rem;
  border: solid 1px var(--cream);
  background-color: var(--white);
  font-weight: bold;
}

.book-data {
  width: 50%;
}

.book-item .category {
  width: 4.9rem;
  height: 1.8rem;
  margin: 0 3.9rem 0 0;
  opacity: 0.5;
  font-size: 14px;
  letter-spacing: normal;
  color: var(--black);
}

.book-item .title {
  font-size: 22px;
  letter-spacing: -0.2px;
  color: var(--black);
}

.book-item .author {
  width: 107px;
  height: 19px;
  margin: 4px 0 0;
  font-size: 14px;
  color: var(--blue);
}

.book-item .links {
  padding-top: 2rem;
  width: 33%;
}

.book-item .link {
  background: none;
  border: none;
  padding: 0;
  color: var(--blue1);
  height: 19px;
  font-size: 14px;
}

.book-item .link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.span {
  width: 2px;
  height: 24px;
  margin: 12px 17px 0 15px;
  border: solid 1px var(--cream);
}

.percent-complete {
  margin: 1px 92px 0 11px;
  font-size: 32px;
  color: var(--black);
}

.oval {
  width: 6rem;
  height: 6rem;
}

.completed {
  margin: 7px 79px 12px 12px;
  opacity: 0.5;
  font-size: 14px;
  color: var(--black);
}

.line-2 {
  width: 2px;
  height: 70px;
  margin: 0 3rem;
  border: solid 1px var(--cream);
}

.chapter-info {
  width: 30px;
}

.current-chapter {
  opacity: 0.5;
  font-size: 13px;
  color: var(--black);
}

.chapter {
  margin-top: 1rem;
  height: 21px;
  font-size: 16px;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.update-progress {
  font-size: 11px;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
  margin-top: 2rem;
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: var(--blue2);
}

form {
  justify-content: space-between;
  margin: auto;
}

.book-title {
  width: 50%;
  margin-left: 100px;
  height: 45px;
  padding: 13px 571px 13px 17px;
  border: solid 1px var(--cream);
  background-color: var(--white);
}

.book-category {
  width: 20%;
  height: 45px;
  padding: 6px 15px 9px 16px;
  border: solid 1px var(--cream);
  background-color: var(--white);
}

.book-submit {
  width: 10%;
  height: 45px;
  border-radius: 3px;
  background-color: var(--blue2);
  color: var(--white);
}

.mont {
  font-family: Montserrat, "Times New Roman", Times, serif;
}

.roboto {
  font-family: RobotoSlab, "Times New Roman", Times, serif;
}
